.content_box{
     display: flex;
     flex-direction: column;
     align-items: center;

}
.first_header{
     margin-top: 2rem;
     color: #E77A2C;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
    text-shadow: rgb(255 255 255) 3px 2px 6px;
    margin-bottom: 1rem;
}
.title_content span{
     color: #108D52;
}
.box_content .title_content{
     color: #108D52;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: left;
    line-height: 1.2;
    margin-bottom: 1rem;
}
.box_content{
     display: flex;
     flex-direction: column;
     align-items: center;
     /* background-color: white; */
     padding: 2rem;
     border-radius: 0.5rem;
     /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
.box_content .title_content span{
     color: gray;
     font-size: 1.5rem;

}
.box_item{
     position: relative;
     display: flex;
     justify-content: center;
     border-radius: 5px;
     background-color: white;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     padding: 0 0.2rem;
}
.box_item img{
     width: 10rem;
     height: 10rem;
     border-radius: 5px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     position: absolute;
     top:-35%;
}
.box_text{
     width: 13rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     margin-top: 1rem;
     margin-top: 6rem;
}
.box_text h3{
     color: #E77A2C;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    margin-bottom: 0.5rem;
}
.box_item h4{
     font-size: 0.9rem;
     font-weight: 700;
     font-style:oblique;
     margin-bottom: 0.5rem;
}
.manybox{
     display: grid;
     grid-template-columns: repeat(4,1fr);
     gap: 4rem;
     margin-top: 2rem;
     margin-top: 5rem;
     
}
@media screen and (min-width:800px){
     .manybox{
          margin-bottom: 2rem;
     }
   }
   
  
   @media screen and (max-width:600px) {
     
     .manybox{
          display: grid;
          grid-template-columns: repeat(1,1fr);
          margin-top: 2rem;
          gap: 1rem;
          margin-bottom: 0;
     }
     .box_item{
          margin-top: 5rem;
          margin-bottom: 2rem;
     }
     .box_item img{
          width: 12rem;
          height: 12rem;
     }
     .box_text{
          width: 16rem;
          margin-top: 50%;
     }
     .box_item{
          width: 16rem;
          height: 16rem;
     }
    .box_content{

     }
   }